<%= stylesheet_link_tag "heir" %>

<h1 class="main-title">後継者情報参照</h1>

<div class="wrapper">

  <!--通知・エラー-->
  <div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div>
    <% if @heir.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @heir.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!--通知・エラー-->

  <!-- 編集アイコン -->
  <div class="dropdown dropdown-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= fa_icon "cog" %>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><%= link_to "プロフィール一覧", "/my_page/my_page", class: "dropdown-item" %></li>
      <li><%= link_to "プロフィール変更", "/my_page/update", class: "dropdown-item" %></li>
      <li><%= link_to "プロフィール詳細一覧", "/heir/show", class: "dropdown-item" %></li>
      <li><%= link_to "プロフィール詳細変更", "/heir/edit", class: "dropdown-item" %></li>
    </ul>
  </div>
  <!-- 編集アイコン -->

  <div class="my-card-box">
    <div class="card my-card">
      <div class="card-header my-card-header">
        興味のある分野
      </div>
      <div class="card-body my-card-body">
        <p class="my-card-text"><%= @interest.name %></p>
      </div>
    </div>

    <div class="card my-card">
      <div class="card-header my-card-header">
        自己紹介
      </div>
      <div class="card-body my-card-body">
        <p class="my-card-text"><%= @heir.introduction %></p>
      </div>
    </div>
  </div>
</div>