<%= stylesheet_link_tag "message" %>
<%= javascript_include_tag "message" %>

<h1 class="main-title">メッセージ</h1>

<div class="all-cover-box">
  <div class="wrapper">

    <!--通知・エラー-->
    <div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div>
      <% if @message.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <!--通知・エラー-->

    <div class="row my-row justify-content-center">
    <!--  left-->
      <div class="col-md-5 my-col-left">
        <div class="list-box">
            <% @message_list.each do |message_list| %>
              <%= form_for :message, url: "/message/history/#{message_list.user}" do |f| %>
                <%= f.button type: "submit", method: "post", class: "btn message-list-btn" do %>
                  <div class="message-list-box row my-list-row">
                    <div class="col-md-3 col-avatar-box">
                      <%= image_tag "#{message_list.avatar_path}", size: "80x80", class: "rounded-circle" %>
                    </div>
                    <div class="col-md-9 col-name-box">
                      <%= message_list.name %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
    <!--  end-->
    <!--  right-->
      <div class="col-md-7 my-col-right">
        <div class="message-box">
          <h3 class="message-title"><%= @to_user.name %>さん</h3>
              <% @message_history.each do |message_history| %>
                <% if message_history.send_user_id == session[:id] %>
                  <div class="from-message-box text-right">
                    <div class="media text-right">
                      <div class="media-body from-message-content">
                        <p><%= message_history.content %></p>
                      </div>
                      <%= image_tag "#{@from_user.avatar_path}", size: "60x60", class: "rounded-circle"  %>
                    </div>
                    <p class="message-time-text">
                      <%= message_history.created_at %>
                    </p>
                  </div>

                <% else %>
                  <div class="to-message-box text-left">
                    <div class="media text-left">
                      <%= image_tag "#{@to_user.avatar_path}", size: "60x60", class: "rounded-circle" %>
                      <div class="media-body to-message-content">
                        <p><%= message_history.content %></p>
                      </div>
                    </div>
                    <p class="message-time-text">
                      <%= message_history.created_at %>
                    </p>
                  </div>
                <% end %>
              <% end %>
          </div>
    <!--end-->
    <!--send box-->
          <div class="send-message-box">
            <%= form_for @message, url: "/message/send/#{@to_user.id}", class:"form-control" do |f| %>
              <div class="input-group">
                <%= f.text_field :content, class: "form-control", placeholder: "メッセージ" %>
                <span class="input-group-btn">
                <%= f.button type: "submit", method: "post", class: "btn send-btn" do %>
                  <%= icon("far", "paper-plane", class: "message-icon") %>
                <% end %>
              </span>
              </div>
            <% end %>
          </div>
    <!--send box end-->
        </div>
      </div>
    <!--  end-->
    </div>
</div>