<%=stylesheet_link_tag "message" %>

<h1 class="main-title">メッセージ</h1>

<div class="wrapper">
  <div class="row my-row justify-content-center">
    <!--  left-->
    <div class="col-md-5 my-col-left">
      <div class="list-box">
        <% @message_list.each do |message_list| %>
          <%= form_for :message, url: "/message/history/#{message_list.user}" do |f| %>
            <%= f.button type: "submit", method: "post", class: "btn message-list-btn" do %>
              <div class="message-list-box row my-list-row">
                <div class="col-md-3 col-avatar-box">
                  <%= image_tag "#{message_list.avatar_path}", size: "80x80", class: "rounded-circle" %>
                </div>
                <div class="col-md-9 col-name-box">
                  <%= message_list.name %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <!--  end-->
    <!--  right-->
    <div class="col-md-7 my-col-right">
      <div class="message-box">
      </div>
    </div>
  </div>
  <!--  end-->
</div>
