<%= stylesheet_link_tag "diary" %>

<h1 class="main-title">日記</h1>

<div class="wrapper">
  <div class="row my-row">
    <div class="col-md-12 left-col heir-favorite-box">
      <% if !@diary_user.empty? %>
        <% @diary_user.each do |diary_user| %>
          <!--        card-->
          <div class="card diary-card">
            <div class="card-header diary-card-header">
              <%= image_tag "#{diary_user.avatar_path}", class: "rounded-circle", size: "60x60" %>
              <%= diary_user.name %>
            </div>
            <!--          body-->
            <div class="card-body diary-card-body">
              <div class="diary-time">
                <%= diary_user.post_time %>
              </div>
              <div class="diary-content">
                <%= simple_format(diary_user.content) %>
              </div>
            </div>
            <!--          body-->
            <!-- カードフッター -->
            <div class="card-footer diary-card-footer">
              <div class="card-footer-btn">
                <div class="good_user_box">
                  <!-- いいねユーザアイコン -->
                  <% @good_avatar.each do |good_avatar| %>
                    <% if diary_user.diaries_id == good_avatar.diary_id %>
                      <%= image_tag "#{good_avatar.avatar_path}", class: "img-circle", size: "30x30" %>
                    <% end %>
                  <% end %>
                </div>
                <!-- いいねボタン -->
                <%= form_for @diary_good, url: "/diary/show/#{diary_user.diaries_id}/good" do |f| %>
                  <% if !@my_good.empty? %>
                    <% @my_good.each_with_index do |my_good, i| %>
                      <% if diary_user.diaries_id == my_good.id %>
                        <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn", disabled: true do %>
                          <%= icon("fas", "thumbs-up", class: "thumbs-up-icon") %>
                          <% if @good[diary_user.diaries_id] == nil %>
                            <%= 0 %>
                          <% else %>
                            <%= @good[diary_user.diaries_id] %>
                          <% end %>
                        <% end %>
                        <% break %>
                      <% elsif i == @my_good.length - 1  %>
                        <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
                          <%= icon("fas", "thumbs-up", class: "thumbs-up-icon") %>
                          <% if @good[diary_user.diaries_id] == nil %>
                            <%= 0 %>
                          <% else %>
                            <%= @good[diary_user.diaries_id] %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
                      <%= icon("fas", "thumbs-up", class: "thumbs-up-icon") %>
                      <% if @good[diary_user.diaries_id] == nil %>
                        <%= 0 %>
                      <% else %>
                        <%= @good[diary_user.diaries_id] %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <!--              end-->
                <!-- コメント -->
                <button class="btn icon-btn good-and-comment" data-toggle="collapse" data-target="#<%= diary_user.diaries_id %>">
                  <%= icon("fas", "comment-alt", class: "comment-icon") %>
                  <% if @comment_count[diary_user.diaries_id] == nil %>
                    <%= 0 %>
                  <% else %>
                    <%= @comment_count[diary_user.diaries_id] %>
                  <% end %>
                </button>
                <!--              end-->
                <!-- 削除ボタン -->
                <% if session[:id] != nil && session[:id] == diary_user.user_id %>
                  <%= form_for @diary_good, url: "/diary/post/#{diary_user.diaries_id}/delete" do |f| %>
                    <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
                      <%= icon("fas", "trash-alt", class: "trash-icon") %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <!-- コメント詳細 -->
              <div class="collapse" id="<%= diary_user.diaries_id %>">
                <% @comment.each do |comment| %>
                  <% if comment.diary_id == diary_user.diaries_id %>
                    <div class="card comment-card">
                      <div class="card-header comment-header">
                        <p>
                          <%= image_tag "#{comment.avatar_path}", class: "rounded-circle", size: "45x45" %>
                          <%= comment.name %>
                        </p>
                      </div>
                      <div class="card-body comment-body">
                        <p>
                          <%= comment.comment %>
                        </p>
                      </div>
                      <div class="card-footer comment-time text-right">
                        <%= comment.post_time %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <% if session[:id] != nil %>
                  <div class="card input-comment-box">
                    <div class="card-header input-comment-header">
                      <div class="input-comment-header-in">
                        <%= image_tag "#{@user.avatar_path}", class: "rounded-circle", size: "43x43" %>
                        <%= @user.name %>
                      </div>
                    </div>
                    <div class="card-body input-comment-body">
                      <%= form_for @diary_comment, url: "/diary/show/#{diary_user.diaries_id}/comment" do |f| %>
                        <%= f.text_area :comment, class:"form-control", size: "200x5", placeholder: "100文字以内" %>
                        </div>
                        <div class="card-footer input-comment-footer">
                          <div class="text-right">
                            <%= f.submit "コメント", class: "btn comment-btn" %>
                          </div>
                        </div>
                      <% end %>
                      </div>
                <% else %>
                  <p class="no-login-text">
                    ログインしてください
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="empty-box-text">
          まだありません
        </p>
      <% end %>
    </div>
  </div>
</div>