<%= stylesheet_link_tag "diary" %>

<h1 class="main-title"><%= @name.name %>さんの日記</h1>

<!--通知・エラー-->
  <div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div>
    <% if @diary_good.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @diary_good.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<!--通知・エラー-->

<div class="wrapper">
  <div class="row your-diary-row">
    <!--    left-->
    <div class="col-md-12 diary-box">
      <% if !@diary_user.empty? %>
        <% @diary_user.each do |diary_user| %>
          <!--        card-->
          <div class="card diary-card">
            <div class="card-header diary-card-header">
              <%= image_tag "#{diary_user.avatar_path}", class: "rounded-circle", size: "60x60" %>
              <%= diary_user.name %>
            </div>
            <!--          body-->
            <div class="card-body diary-card-body">
              <div class="diary-time">
                <%= diary_user.post_time %>
              </div>
              <div class="diary-content">
                <p>
                  <%= simple_format(diary_user.content) %>
                </p>
              </div>
            </div>
            <!--          body-->
            <!-- カードフッター -->
            <div class="card-footer diary-card-footer">
              <div class="card-footer-btn">
                <div class="good_user_box">
                  <!-- いいねユーザアイコン -->
                  <% @good_avatar.each do |good_avatar| %>
                    <% if diary_user.diaries_id == good_avatar.diary_id %>
                      <%= image_tag "#{good_avatar.avatar_path}", class: "rounded-circle", size: "35x35" %>
                    <% end %>
                  <% end %>
                </div>
                <!--              end-->
                <!-- いいね -->
                <%= form_for @diary_good, url: "/diary/show/#{diary_user.diaries_id}/good" do |f| %>
                  <% if !@my_good.empty? %>
                    <% @my_good.each do |my_good| %>
                      <% if diary_user.diaries_id == my_good.id %>
                        <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn", disabled: true do %>
                          <%= fa_icon "thumbs-up lg", class: "thumbs-up-icon" %>
                          <% if @good[diary_user.diaries_id] == nil %>
                            <%= 0 %>
                          <% else %>
                            <%= @good[diary_user.diaries_id] %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
                          <%= fa_icon "thumbs-up lg", class: "thumbs-up-icon" %>
                          <% if @good[diary_user.diaries_id] == nil %>
                            <%= 0 %>
                          <% else %>
                            <%= @good[diary_user.diaries_id] %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
                      <%= fa_icon "thumbs-up lg", class: "thumbs-up-icon" %>
                      <% if @good[diary_user.diaries_id] == nil %>
                        <%= 0 %>
                      <% else %>
                        <%= @good[diary_user.diaries_id] %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <!--              end-->
                <!-- コメント -->
                <button class="btn icon-btn good-and-comment" data-toggle="collapse" data-target="#<%= diary_user.diaries_id %>">
                  <%= fa_icon "comment lg", class: "comment-icon" %>
                  <% if @comment_count[diary_user.diaries_id] == nil %>
                    <%= 0 %>
                  <% else %>
                    <%= @comment_count[diary_user.diaries_id] %>
                  <% end %>
                </button>
                <!--              end-->
                <!-- 削除ボタン -->
                <% if session[:id] != nil && session[:id] == diary_user.user_id %>
                  <%= form_for @diary_good, url: "/diary/post/#{diary_user.diaries_id}/delete" do |f| %>
                    <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
                      <%= fa_icon "trash lg", class: "trash-icon" %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <!--            end-->
              <!-- 展開コメント-->
              <div class="collapse" id="<%= diary_user.diaries_id %>">
                <% @comment.each do |comment| %>
                  <% if comment.diary_id == diary_user.diaries_id %>
                    <div class="card comment-card">
                      <div class="card-header comment-header">
                        <p>
                          <%= image_tag "#{comment.avatar_path}", class: "rounded-circle", size: "45x45" %>
                          <%= comment.name %>
                        </p>
                      </div>
                      <div class="card-body comment-body">
                        <p>
                          <%= comment.comment %>
                        </p>
                      </div>
                      <div class="card-footer comment-time text-right">
                        <%= comment.post_time %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
                <% if session[:id] != nil %>
                  <div class="card input-comment-box">
                    <div class="card-header input-comment-header">
                      <div class="input-comment-header-in">
                        <%= image_tag "#{@user.avatar_path}", class: "rounded-circle", size: "43x43" %>
                        <%= @user.name %>
                      </div>
                    </div>
                    <div class="card-body input-comment-body">
                      <%= form_for @diary_comment, url: "/diary/show/#{diary_user.diaries_id}/comment" do |f| %>
                        <%= f.text_area :comment, class:"form-control", size: "200x5", placeholder: "100文字以内" %>
                    </div>
                    <div class="card-footer input-comment-footer">
                      <div class="text-right">
                        <%= f.submit "コメント", class: "btn comment-btn" %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <p class="no-login-text">ログインしてください</p>
                <% end %>
              </div>
              <!--            end-->
            </div>
          </div>
        <% end %>
      <% else %>
        <div>
          <p class="empty-text">まだありません</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
