<%= stylesheet_link_tag "my_page" %>

<h1>プロフィール</h1>

<div class="wrapper">
<!--  setting-->
  <div class="dropdown setting-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= icon("fas", "cog", class: "setting-icon") %>
    </button>
    <ul class="dropdown-menu dropdown-menu-right dropdown-box" aria-labelledby="dropdownMenu1">
      <li class="setting-item"><%= link_to "プロフィール一覧", "/my_page/my_page", class: "dropdown-item" %></li>
      <li class="setting-item"><%= link_to "プロフィール変更", "/my_page/update", class: "dropdown-item" %></li>
      <% if @user.is_creator %>
        <li class="setting-item"><%= link_to "プロフィール詳細", "/creator/show", class: "dropdown-item" %></li>
      <% else %>
        <li class="setting-item"><%= link_to "プロフィール詳細", "/heir/show", class: "dropdown-item" %></li>
        <li class="setting-item"><%= link_to "プロフィール詳細変更", "/heir/edit", class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>
<!--  setting-->

  <div class="card out-line">
    <div class="card-header my-card-header">
      アバター
    </div>
    <div class="card-body my-card-body card-img">
      <% if @user.avatar_path == nil %>
        <%= image_tag "default.png", class: "rounded-circle", size: "300x300", alt: "アバター画像" %>
      <% else %>
        <%= image_tag "#{@user.avatar_path}", class: "rounded-circle", size: "300x300", alt: "アバター画像" %>
      <% end %>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      ユーザー名
    </div>
    <div class="card-body my-card-body text-center">
     <p><%= @user.name%></p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      性別
    </div>
    <div class="card-body my-card-body text-center">
      <% if @user.is_man %>
        <p>男性</p>
      <% else %>
        <p>女性</p>
      <% end %>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      メールアドレス
    </div>
    <div class="card-body my-card-body text-center">
      <p><%= @user.email %></p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      生年月日
    </div>
    <div class="card-body my-card-body text-center">
      <p>
        <%= @user.birthday.year  %>年
        <%= @user.birthday.month  %>月
        <%= @user.birthday.day  %>日
      </p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      紹介文
    </div>
    <div class="card-body my-card-body">
      <p><%= simple_format(h(@user.profile)) %></p>
    </div>
  </div>
  <div class="bottom-box">
  </div>
</div>