<%= stylesheet_link_tag "my_page" %>

<h1>プロフィール変更</h1>
  <!--通知・エラー-->
  <div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
  <div>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="error-box">
        <p class="error-title">入力内容にエラーが<%= @user.errors.count %>件あります</p>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li class="error-content">
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!--通知・エラー-->

  <div class="wrapper">
    <!--setting-->
    <div class="dropdown dropdown-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <%= icon("fas", "cog", class: "setting-icon") %>
      </button>
      <ul class="dropdown-menu dropdown-menu-right dropdown-box" aria-labelledby="dropdownMenu1">
        <li><%= link_to "プロフィール一覧", "/my_page/my_page", class: "dropdown-item" %></li>
        <li><%= link_to "プロフィール変更", "/my_page/update", class: "dropdown-item" %></li>
        <% if @user.is_creator %>
          <li><%= link_to "プロフィール詳細", "/creator/show", class: "dropdown-item" %></li>
        <% else %>
          <li><%= link_to "プロフィール詳細", "/heir/show", class: "dropdown-item" %></li>
          <li><%= link_to "プロフィール詳細変更", "/heir/edit", class: "dropdown-item" %></li>
        <% end %>
      </ul>
    </div>
    <!--setting-->

    <%= form_for @user, url: "/my_page/update" do |f| %>
      <div class="card out-line">
        <div class="card-header my-card-header">
          アバター
        </div>
        <div class="card-body my-card-body card-img">
          <%= image_tag "#{@user.avatar_path}", class: "img-circle", alt: "アバター画像" %>
          <%= f.file_field :avatar_path, class: "form-control-file", id: "exampleFormControlFile1", accept: "image/jpg, image/jpeg, image/png" %>
        </div>
      </div>

      <div class="card out-line">
        <div class="card-header my-card-header">
          ユーザー名
        </div>
        <div class="card-body my-card-body">
          <p><%= @user.name%></p>
          <%= f.text_field :name, class: "form-control update-form-input", maxlength: 50, placeholder: "ユーザ名", value: @user.name %>
        </div>
      </div>

      <div class="card out-line">
        <div class="card-header my-card-header">
          メールアドレス
        </div>
        <div class="card-body my-card-body">
          <p><%= @user.email %></p>
          <%= f.email_field :email, class: "form-control update-form-input", maxlength: 50, placeholder: "メールアドレス", value: @user.email %>
        </div>
      </div>

      <div class="card out-line">
        <div class="card-header my-card-header">
          紹介文
        </div>
        <div class="card-body my-card-body">
          <%= f.text_area :profile, class: "form-control update-form-input", placeholder: "紹介文", size: "20x15", value: @user.profile %>
        </div>
      </div>
      <div class="bottom-box">
      </div>

      <div class="text-right profile-update-btn-box">
        <%= f.submit "変更", class: "btn btn-lg profile-update-btn" %>
      </div>
    <% end %>
  </div>





