<%= stylesheet_link_tag "index" %>

<div class="text-center main-visual-box">
  <%= image_tag "main1.jpg", class: "img-responsive margin main-visual", alt: "メインヴィジュアル", width: "100%" %>
  <h1><%= image_tag "title.png", width: "115%", height: "115%" %></h1>
</div>

<% if session[:id] == nil %>
  <div class="bg-1 text-center bar">
  </div>
  <div class="col-lg-12 text-center zone">
    <h3 class="info-title">どんなシステム？</h3>
    <div class="col-lg-12 row justify-content-around my-row">
      <div class="col-lg-4">
        <div class="three-box">
          <%= image_tag "user.png", class: "img-responsive margin img-circle img-icon", width: "100px", height: "100px", alt: "Image" %>
          <h3>後継者を募れる</h3>
          <p>素晴らしい伝統技術が失われてしまうのは勿体無い。<br>次世代に受け継ぐために後継者を募れます。</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="three-box">
          <%= image_tag "info.png", class: "img-responsive margin img-circle img-icon", width: "100px", height: "100px", alt: "Image" %>
          <h3>詳細情報を入れる</h3>
          <p>自分の制作している作品を多くの人に宣伝して、知ってもらおう。<br>魅力を知ってもらうことで作品の評価などに繋がります。</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="three-box">
          <%= image_tag "handshake.png", class: "img-responsive margin img-circle img-icon", width: "100px", height: "100px", alt: "Image" %>
          <h3>マッチング</h3>
          <p>制作者サイドはスカウト機能で気になった方をスカウトしてお話ができます。<br>後継を検討されている方はアピール機能で自分を宣伝できます。</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!--recommend-->
<% if !@recommend.nil? && !@recommend.empty? %>
  <div class="row card-group justify-content-center my-row">
  <p class="recommend-title">おすすめ職人さん</p>
    <% @recommend.each do |recommend| %>
      <div class="col-lg-3 my-card-col new-box">
        <%= link_to("/page/creator/#{recommend.user_id}", {method:"get", class: "nav-link"}) do %>
          <div class="card profile-card new-tag-content">
            <% if (time_ago_in_words(recommend.created_at)).to_i <= 72 %>
              <span class="new-tag">NEW</span>
            <% end %>
            <div class="text-center">
              <%= image_tag "#{recommend.avatar_path}", class: "rounded-circle avatar"%>
            </div>
            <div class="card-body">
              <h4 class="card-box-name text-center">
                <%= recommend.name %>
              </h4>
              <p class="card-box-title text-center">
                <%= recommend.title %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<!--recommend-->

  <div class="row card-group justify-content-center my-row">
    <% @creator.each_with_index do |creator, i| %>
      <% if i % 4 == 0 %>
        <div class="row card-group justify-content-center my-row">
      <% end %>
      <div class="col-xl-3 my-card-col new-box">
        <%= link_to("/page/creator/#{creator.user_id}", {method:"get", class: "nav-link"}) do %>
          <div class="card profile-card new-tag-content">
            <% if (time_ago_in_words(creator.created_at)).to_i <= 72 %>
              <span class="new-tag">NEW</span>
            <% end %>
            <div class="text-center">
              <%= image_tag "#{creator.avatar_path}", class: "rounded-circle avatar"%>
            </div>
            <div class="card-body">
              <h4 class="card-box-name text-center">
                <%= creator.name %>
              </h4>
              <p class="card-box-title text-center">
                <%= creator.title %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
    <% if !@creator.empty? %>
      <div class="creator-card-last-bottom"></div>
    <% end %>
  </div>
