<%= stylesheet_link_tag "index" %>

<div class="text-center main-visual-box">
  <%= image_tag "main1.jpg", class: "img-responsive margin main-visual", alt: "main", width: "100%" %>
  <p>SucSeed</p>
</div>

<div class="bg-1 container-fluid text-center bar">
</div>


<% if session[:id] == nil %>
  <div class="container-fluid bg-3 text-center zone">
    <h3 class="margin">どんなシステム？</h3>
    <div class="row justify-content-around">
      <div class="col-md-4">
        <div class="three-box">
          <%= image_tag "user.png", class: "img-responsive margin img-circle img-icon", size: "100x100", alt: "Image" %>
          <h3>後継者を募れる</h3>
          <p>qqqq</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="three-box">
          <%= image_tag "info.png", class: "img-responsive margin img-circle img-icon", size: "100x100", alt: "Image" %>
          <h3>詳細情報を入れる</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="three-box">
          <%= image_tag "handshake.png", class: "img-responsive margin img-circle img-icon", size: "100x100", alt: "Image" %>
          <h3>マッチング</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <div class="row card-group justify-content-center my-row">
    <% @creator.each do |creator| %>
      <% @user.each_with_index do |user, i| %>
        <% if creator.user_id == user.id %>
          <%if i % 4 == 3 %>
            <div class="row card-group">
          <% end %>
          <div class="col-md-3">
            <%= link_to("/page/creator/#{creator.user_id}", {method:"get"}) do %>
              <div class="card profile-card">
                <%= image_tag "#{user.avatar_path}", class: "img-circle" %>
                <div class="card-body">
                  <h4 class=" card-box-name">
                    <%= user.name %>
                  </h4>
                  <p class=" card-box-title">
                    <%= creator.title %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
          <%if i % 4 == 3 %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>