<%= stylesheet_link_tag "index" %>

<div class="search-page-box">

  <div class="row card-group justify-content-center my-row">
    <% @creator.each_with_index do |creator, i| %>
      <% if i % 4 == 0 %>
        <div class="row card-group justify-content-center my-row">
      <% end %>
      <div class="col-xl-3 my-card-col">
        <%= link_to("/page/creator/#{creator.user_id}", {method:"get", class: "nav-link"}) do %>
          <div class="card profile-card new-tag-content">
            <% if (time_ago_in_words(creator.created_at)).to_i <= 3 %>
              <span class="new-tag">NEW</span>
            <% end %>
            <div class="text-center">
              <%= image_tag "#{creator.avatar_path}", class: "rounded-circle", width: "300vw", height: "300vw" %>
            </div>
            <div class="card-body">
              <h4 class="card-box-name text-center">
                <%= creator.name %>
              </h4>
              <p class="card-box-title text-center">
                <%= creator.title %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
      <% if i % 4 == 3 %>
        </div>
      <% end %>
    <% end %>
    <div class="creator-card-last-bottom"></div>
  </div>
</div>
