<%= stylesheet_link_tag "creator" %>

<h1 class="main-title">制作者情報</h1>

<div class="all-cover-box">
  <div class="wrapper">
  <!--エラー-->
    <div>
      <div>
        <% flash.each do |key, value| %>
          <div class="alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <% if @creator.errors.any? %>
        <div id="error_explanation" class="error-box">
          <p class="error-title">入力内容にエラーが<%= @creator.errors.count %>件あります</p>
          <ul class="error-index">
            <% @creator.errors.full_messages.each do |message| %>
              <li class="error-content">
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <!--エラー-->

    <%= form_for @creator, url: "/creator/create" do |f|%>
      <div class="form-group row form-box">
        <div class="col-lg-2 left-col">
          <%= f.label "制作工芸名", clas: "form-input-label" %>
        </div>
        <div class="col-xl-10">
          <%= f.text_field :title, class: "form-control", placeholder: "制作工芸名"%>
          <small class="form-text small-text">必須 30文字以内</small>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2 left-col">
          <%= f.label "工芸カテゴリ", class: "form-input-label" %>
        </div>
        <div class="col-10">
          <%= f.collection_select :art_category_id, ArtCategory.all, :id, :name, { prompt: "選択してください"}, {class: "form-control"} %>
          <small class="form-text small-text">必須　選択</small>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2 left-col">
          <%= f.label "創業年数", class: "form-input-label" %>
        </div>
        <div class="col-xl-10">
          <%= f.number_field :establishment, class: "form-control", min: 0,  max: 500, maxlength: 3, placeholder: "創業年数" %>
          <small class="form-text small-text">必須</small>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2 left-col">
          <%= f.label "従業員数", class: "form-input-label"%>
        </div>
        <div class="col-xl-10">
          <%= f.number_field :employee, class: "form-control", min: 0,  max: 500, maxlength: 3, placeholder: "従業員数" %>
          <small class="form-text small-text">必須</small>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2 left-col">
          <%= f.label "作業所郵便番号", class: "form-input-label" %>
        </div>
        <div class="col-10">
          <%= f.number_field :postal_code, class: "form-control", maxlength: 7, minlength: 7, placeholder: "作業所郵便番号" %>
          <small class="form-text small-text">必須　半角数字ハイフンなし7文字</small>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2 left-col">
          募集チェック
        </div>
        <div class="col-xl-10">
          <%= f.check_box :is_recruitment, { checked: true, class: "form-check-input my-check-box", id: "recruitment" }, "1", "0" %>
          <%= f.label "後継者を募集中", class: "form-check-label my-check-label", for: "recruitment" %>
          <small class="form-text small-text">必須　募集している場合はチェック</small>
        </div>
      </div>


      <div class="text-right my-submit-box">
        <%= f.submit "登録", class: "btn btn-default my-regist-btn" %>
      </div>
    <% end %>
  </div>
</div>