<%= stylesheet_link_tag "creator" %>

<h1 class="main-title">制作者情報</h1>

<div class="wrapper">
  <!-- 編集アイコン -->
  <div class="dropdown dropdown-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><%= link_to "プロフィール詳細一覧", "/creator/show", class: "dropdown-item" %></li>
      <li><%= link_to "プロフィール詳細変更", "/creator/update", class: "dropdown-item" %></li>
    </ul>
  </div>
  <!-- 編集アイコン -->


  <div class="card out-line">
    <div class="card-header my-card-header">
      工芸名
    </div>
    <div class="card-body my-card-body text-center">
      <p><%= @creator.title %></p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      工芸カテゴリー
    </div>
    <div class="card-body my-card-body text-center">
      <p>
        <%= @category.name %>
      </p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      創業年数
    </div>
    <div class="card-body my-card-body text-center">
      <p>
        <%= @creator.establishment %>年
      </p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      従業員数
    </div>
    <div class="card-body my-card-body text-center">
      <p>
        <%= @creator.employee %>人
      </p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      作業所郵便番号
    </div>
    <div class="card-body my-card-body text-center">
      <p>
        <%= @creator.postal_code %>
      </p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      作業所住所１
    </div>
    <div class="card-body my-card-body text-center">
      <p>
        <%= @creator.address_1 %>
      </p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      作業所住所２
    </div>
    <div class="card-body my-card-body text-center">
      <p>
        <%= @creator.address_2 %>
      </p>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      紹介文
    </div>
    <div class="card-body my-card-body">
      <p>
        <%= simple_format(h(@creator.introduction)) %>
      </p>
    </div>
  </div>
  <div class="bottom-box">
  </div>
</div>
