<%= stylesheet_link_tag "creator" %>

<h1 class="main-title">制作者情報</h1>

<div class="wrapper">
  <!-- 編集アイコン -->
  <div class="dropdown dropdown-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= icon("fas", "cog", class: "setting-icon") %>
    </button>
    <ul class="dropdown-menu dropdown-menu-right dropdown-box" aria-labelledby="dropdownMenu1">
      <li class="setting-item"><%= link_to "プロフィール一覧", "/my_page/my_page", class: "dropdown-item" %></li>
      <li class="setting-item"><%= link_to "プロフィール変更", "/my_page/update", class: "dropdown-item" %></li>
      <% if session[:creator] != nil %>
        <li class="setting-item"><%= link_to "プロフィール詳細", "/creator/show", class: "dropdown-item" %></li>
        <li class="setting-item"><%= link_to "プロフィール詳細変更", "/creator/edit", class: "dropdown-item" %></li>
      <% else %>
        <li class="setting-item"><%= link_to "プロフィール詳細", "/heir/show", class: "dropdown-item" %></li>
        <li class="setting-item"><%= link_to "プロフィール詳細変更", "/heir/edit", class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>
  <!-- 編集アイコン -->


  <div class="card out-line">
    <div class="card-header my-card-header">
      工芸名
    </div>
    <div class="card-body my-card-body text-center">
      <%= @creator.title %>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      工芸カテゴリー
    </div>
    <div class="card-body my-card-body text-center">
      <%= @category.name %>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      創業年数
    </div>
    <div class="card-body my-card-body text-center">
      <%= @creator.establishment %>年
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      従業員数
    </div>
    <div class="card-body my-card-body text-center">
      <%= @creator.employee %>人
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      作業所郵便番号
    </div>
    <div class="card-body my-card-body text-center">
      <%= @creator.postal_code %>
    </div>
  </div>

  <div class="card out-line">
    <div class="card-header my-card-header">
      募集チェック
    </div>
    <div class="card-body my-card-body text-center">
      <% if @creator.is_recruitment %>
        <p>
          募集中
        </p>
      <% else %>
        <p>
          募集停止中
        </p>
      <% end %>
    </div>
  </div>

  <div class="bottom-box">
  </div>
</div>
