<%=stylesheet_link_tag "creator" %>

<!--通知・エラー-->
<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<div>
  <% if @creator.errors.any? %>
    <div id="error_explanation" class="error-box">
      <p class="error-title">入力内容にエラーが<%= @creator.errors.count %>件あります</p>
      <ul class="error-index">
        <% @creator.errors.full_messages.each do |message| %>
          <li class="error-content">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<!--通知・エラー-->

<h1 class="main-title">制作者情報</h1>

<div class="wrapper">
  <!-- 編集アイコン -->
  <div class="dropdown dropdown-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= icon("fas", "cog", class: "setting-icon") %>
    </button>
    <ul class="dropdown-menu dropdown-menu-right dropdown-box" aria-labelledby="dropdownMenu1">
      <li class="setting-item"><%= link_to "プロフィール一覧", "/my_page/my_page", class: "dropdown-item" %></li>
      <li class="setting-item"><%= link_to "プロフィール変更", "/my_page/update", class: "dropdown-item" %></li>
      <% if session[:creator] != nil %>
        <li class="setting-item"><%= link_to "プロフィール詳細", "/creator/show", class: "dropdown-item" %></li>
        <li class="setting-item"><%= link_to "プロフィール詳細変更", "/creator/edit", class: "dropdown-item" %></li>
      <% else %>
        <li class="setting-item"><%= link_to "プロフィール詳細", "/heir/show", class: "dropdown-item" %></li>
        <li class="setting-item"><%= link_to "プロフィール詳細変更", "/heir/edit", class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>
  <!-- 編集アイコン -->


  <%= form_for @creator, url: "/creator/edit" do |f|%>
    <div class="card out-line">
      <div class="card-header my-card-header">
        <%= f.label "制作工芸名" %>
      </div>
      <div class="card-body my-card-body text-left">
        <div class="update-form-text">
          <%= @creator.title %>
        </div>
        <%= f.text_field :title, class: "form-control update-form-input", placeholder: "制作工芸名", value: @creator.title%>
        <small class="update-form-sub-text">必須</small>
      </div>
    </div>

    <div class="card out-line">
      <div class="card-header my-card-header">
        <%= f.label "工芸カテゴリ" %>
      </div>
      <div class="card-body my-card-body text-left">
        <div class="update-form-text">
          <%= @creator.name %>
        </div>
        <%= f.collection_select :art_category_id, ArtCategory.all, :id, :name, { prompt: "選択してください"}, {class: "form-control update-form-input", selectd: @creator.art_category_id} %>
        <small class="update-form-sub-text">必須</small>
      </div>
    </div>

    <div class="card out-line">
      <div class="card-header my-card-header">
        <%= f.label "創業年数" %>
      </div>
      <div class="card-body my-card-body text-left">
        <div class="update-form-text">
          <%= @creator.establishment %>年
        </div>
        <%= f.number_field :establishment, class: "form-control update-form-input", placeholder: "創業年数", value: @creator.establishment %>
        <small class="update-form-sub-text">必須</small>
      </div>
    </div>

    <div class="card out-line">
      <div class="card-header my-card-header">
        <%= f.label "従業員数" %>
      </div>
      <div class="card-body my-card-body text-left">
        <div class="update-form-text">
          <%= @creator.employee %>人
        </div>
        <%= f.number_field :employee, class: "form-control update-form-input", placeholder: "従業員数", value: @creator.employee %>
        <small class="update-form-sub-text">必須</small>
      </div>
    </div>

    <div class="card out-line">
      <div class="card-header my-card-header">
        <%= f.label "作業所郵便番号" %>
      </div>
      <div class="card-body my-card-body text-left">
        <div class="update-form-text">
          <%= @creator.postal_code %>
        </div>
        <%= f.text_field :postal_code, class: "form-control update-form-input", placeholder: "郵便番号", value: @creator.postal_code %>
        <small class="update-form-sub-text">必須</small>
      </div>
    </div>

    <div class="card out-line">
      <div class="card-header my-card-header">
        <%= f.label "募集チェック" %>
      </div>
      <div class="card-body my-card-body text-left update-form-check">
        <%= f.check_box :is_recruitment, { checked: @check, class: "form-check-input update-check-box", id: "recruitment" }, "1", "0" %>
        <%= f.label "後継者を募集中", class: "form-check-label", for: "recruitment" %>
      </div>
    </div>

    <div class="text-right update-btn-box">
      <%= f.submit "変更", class: "btn btn-lg my-update-btn" %>
    </div>

    <div class="bottom-box">
    </div>
  </div>
<% end %>