<%= stylesheet_link_tag "match"  %>

<h1 class="main-title">マッチングリスト</h1>

<div class="all-cover-box">
  <div class="wrapper">
    <!--  カード-->
    <% if !@match.empty? %>
      <% @match.each do |match| %>
        <div class="card list-card">
          <div class="card-header list-card-header">
            <%= match.match_time %>
            <%= distance_of_time_in_words_to_now(match.match_time) %>前
          </div>
          <%= link_to("/page/heir/#{match.id}", {method: "get"}) do %>
            <div class="card-body list-card-body">
              <div class="row">
                <div class="col-md-5 left-col text-center">
                  <%= image_tag "#{match.avatar_path}", class: "rounded-circle", size: "230x230" %>
                </div>
                <div class="col-md-7 right-col">
                  <p class="name-text">
                    <%= match.name %>
                  </p>
                  <p class="age-text">
                    <%= date_format = "%Y%m%d"
                        (Date.today.strftime(date_format).to_i - match.birthday.strftime(date_format).to_i) / 10000
                    %>
                    <small>歳</small>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
          <div class="card-footer list-card-footer">
            <% if match.is_add_list == 0 %>
              <%= form_for @message_list, url: "/message/add/#{match.page_id}", class: "form-control" do |f| %>
                <%= f.submit "メッセージ", class:"btn btn-success yes-btn" %>
              <% end %>
            <% end %>
          </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="empty-text">
        まだありません
      </p>
    <% end %>
    <!--    カード-->
  </div>