<%= stylesheet_link_tag "match" %>

<h1 class="main-title">スカウト一覧</h1>

<div class="wrapper">

  <!--通知・エラー-->
  <div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div>
    <% if @match.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @match.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!--通知・エラー-->

  <!--  カード-->
  <% if !@scout.empty? %>
    <% @scout.each do |scout| %>
      <div class="card list-card">
        <div class="card-header list-card-header">
          <%= scout.match_time %>
          <%= distance_of_time_in_words_to_now(scout.match_time) %>前
        </div>
        <%= link_to("/page/creator/#{scout.page_id}", {method: "get"}) do %>
          <div class="card-body list-card-body">
            <div class="row">
              <div class="col-5 left-col text-center">
                <%= image_tag "#{scout.avatar_path}", class: "img-circle", size: "230x230" %>
              </div>
              <div class="col-7 right-col">
                <p class="name-text">
                  <%= scout.name %>
                </p>
                <p class="age-text">
                  <%= date_format = "%Y%m%d"
                      (Date.today.strftime(date_format).to_i - scout.birthday.strftime(date_format).to_i) / 10000
                  %>
                  <small>歳</small>
                </p>
                <p class="title-text">
                  <%= scout.title %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card-footer list-card-footer">
          <div class="row">
            <div class="col-6 left-btn-col">
              <%= form_for :match, url: "/scout/ok/#{scout.page_id}", class: "form-control" do |f| %>
                <%= f.submit "話してみる", class:"btn btn-primary yes-btn" %>
              <% end %>
            </div>
            <div class="col-6 right-btn-col">
              <%= form_for :match, url: "/scout/sorry/#{scout.page_id}", class: "form-control" do |f| %>
                <%= f.submit "ごめんなさい", class:"btn btn-danger no-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="empty-text">
      まだありません
    </p>
  <% end %>
  <!--    カード-->
</div>