<h3>password_reset</h3>
<h1>パスワード変更</h1>

<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<div>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div>
  <%= form_for @user, url: "/user/password_reset" do |f| %>

    <div class="input-group">
      <span class="input-group-addon">パスワード</span>
      <%= f.password_field :password, class: "form-control", maxlength: 16, placeholder: "パスワード" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon">パスワード</span>
      <%= f.password_field :password_confirmation, class: "form-control", maxlength: 16, placeholder: "パスワード確認" %>
    </div>

    <div class="right_side">
      <%= f.submit "変更", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
