<%= stylesheet_link_tag "user" %>

<h1 class="main-title">ユーザ登録</h1>

<div class="all-cover-box">
  <div class="wrapper wrapper1">

  <!--  エラー-->
    <div>
      <% flash.each do |key, value| %>
        <div class="alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="error-box">
          <p class="error-title">入力内容にエラーが<%= @user.errors.count %>件あります</p>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li class="error-content">
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <!--  エラー-->

    <%= form_for @user, url: "/user/create" do |f| %>
      <div class="form-group row form-box">
        <div class="col-lg-2">
          <%= f.label "ユーザー名", class: "form-input-label my-label-text" %>
        </div>
        <div class="col-xl-10">
          <%= f.text_field :name, class: "form-control form-control-lg", maxlength: 50, placeholder: "ユーザー名" %>
          <small class="small-text">必須 50文字以内</small>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2">
          <%= f.label "アバター", class: "form-input-label my-label-text" %>
        </div>

        <div class="col-xl-10">
          <%= f.file_field :avatar_path, class: "form-control-file file-text form-control-lg", id: "exampleFormControlFile1", accept: "image/jpg,image/jpeg,image/png" %>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2">
          <p class="my-label-text">性別</p>
        </div>
        <div class="form-group col-xl-10">
          <div class="form-check form-check-inline">
            <%= f.radio_button :is_man, 1, {checked: true, class: "form-check-input form-control-lg", id: "woman"} %>
            <%= f.label "男性", class: "form-check-label radio-text", for: "woman" %>
          </div>

          <div class="form-check form-check-inline">
            <%= f.radio_button :is_man, 0, {class: "form-check-input", id: "man"} %>
            <%= f.label "女性", class: "form-check-label radio-text", for: "man" %>
          </div>
          <div>
            <small class="small-text">必須</small>
          </div>
        </div>
      </div>

      <div class="form-group birth_date_field row form-box">
        <div class="col-lg-2">
          <%= f.label :birthday, "生年月日", class: "form-input-label my-label-text" %>
        </div>
        <div class="col-xl-10 date-text">
          <%= raw sprintf(
                      f.date_select(
                          :birthday,
                          class: "form-control",
                          use_month_numbers: true,
                          start_year:        1930,
                          end_year:          (Time.now.year),
                          default:           Date.new(1989, 1, 1),
                          date_separator:    '%s'),
                      "年 ", "月 ") + "日" %>
          <div>
            <small class="small-text">必須</small>
          </div>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2">
          <%= f.label "メールアドレス", class: "form-input-label my-label-text" %>
        </div>
        <div class="col-xl-10">
          <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "メールアドレス" %>
          <small class="small-text">必須 半角英数</small>
        </div>
      </div>


      <div class="form-group row form-box">
        <div class="col-lg-2">
          <p class="my-label-text">ユーザー種別</p>
        </div>
        <div class="col-xl-10">
          <div class="form-check form-check-inline">
            <%= f.radio_button :is_creator, 1, {checked: true, class: "form-check-input", id: "creator"} %>
            <%= f.label "職人", class: "form-check-label radio-text", for: "creator" %>
          </div>

          <div class="form-check form-check-inline">
            <%= f.radio_button :is_creator, 0, {class: "form-check-input", id: "heir"} %>
            <%= f.label "後継検討", class: "form-check-label radio-text", for: :heir %>
          </div>
          <div>
            <small class="small-text">必須</small>
          </div>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2">
          <%= f.label "パスワード", class: "form-input-label my-label-text" %>
        </div>
        <div class="col-xl-10">
          <%= f.password_field :password, class: "form-control form-control-lg", maxlength: 16, placeholder: "パスワード" %>
          <small class="small-text">必須　半角英数 8文字以上 16文字以内</small>
        </div>
      </div>

      <div class="form-group row form-box">
        <div class="col-lg-2">
          <%= f.label "パスワード確認", class: "form-input-label my-label-text" %>
        </div>
        <div class="col-xl-10">
          <%= f.password_field :password_confirmation, class: "form-control form-control-lg", maxlength: 16, placeholder: "パスワード確認" %>
          <small class="small-text">必須　確認入力</small>
        </div>
      </div>

      <div class="text-right regist-btn-box">
        <%= f.submit "新規登録", class: "btn btn-default regist-btn" %>
      </div>
    <% end %>
  </div>
</div>