<%= stylesheet_link_tag "gallery" %>
<%= stylesheet_link_tag "bootstrap-tagsinput.css" %>

<h1 class="main-title">マイギャラリー</h1>

<!--error-->
<div>
  <div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div>
    <% if @gallery.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @gallery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
<!--error-->

<!--left-->
<div class="row my-row">
  <div class="col-md-9 gallery-col">
    <div class="row my-row">
      <% if !@my_gallery.empty? %>
        <% @my_gallery.each_with_index do |my_gallery, i| %>
          <% if i % 3 == 0 && i != 0 %>
            <div class="row my-row">
          <% end %>
          <div class="col-md-4 card-col">
            <%= link_to("/gallery/selected/#{my_gallery.id}", {method: "get"}) do %>
              <div class="card gallery-card">
                <div class="card-header gallery-card-header">
                  <%= image_tag "#{my_gallery.data}", width: "100%", height: "380px" %>
                </div>
                <div class="card-body gallery-card-body">
                  <p class="card-tag">
                    <% my_gallery.tag_list.each do |tag| %>
                      <span class="label my-label">
                        <%= tag %>
                      </span>
                     <% end %>
                    </p>
                 </div>
               </div>
             <% end %>
           </div>
          <% if i % 3 == 2 %>
            </div>
         <% end %>
        <% end %>
      <% else %>
       <p class="empty-text">まだありません</p>
      <% end %>
    </div>
  </div>
<!--right-->
  <div class="col-md-3 post-col">
    <div class="right-box">
      <%= form_for @gallery, url: "/gallery/view" do |f| %>
        <div class="form-group">
          <div class="right-box-top">
            <%= f.label "投稿", class: "right-box-title"%>
          </div>
          <%= f.file_field :data, class: "form-control-file my-file-post", accept: "image/jpg, image/jpeg, image/png" %>
          <%= f.label "タグ：",  class: "tag-title"%>
          <div class="tag-field">
            <%= f.text_field :tag_list, value: @gallery.tag_list.join(','), "data-role" => "tagsinput", placeholder: "タグを入力" %>
          </div>
          <div class="comment-box">
            <%= f.label "コメント：",  class: "from-input-label"%>
            <%= f.text_area :comment, class: "form-control", size: "35x3", placeholder: "100文字以内 " %>
          </div>
          <div class="text-right gallery-post-btn-box">
            <%= f.submit "投稿", class: "btn btn-lg my-submit-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "bootstrap-tagsinput.js" %>