<%= stylesheet_link_tag "gallery" %>

<h1 class="main-title">ギャラリー</h1>

<div class="row my-selected-row">
<!--  right-->
  <div class="col-md-9 selected-gallery-box">
    <div class="selected-gallery-box-in-box">
      <%= image_tag "#{@selected_gallery.data}", class: "", width: "100%", height: "850px" %>
      <div class="post-time-text">
        <%= @selected_gallery.created_at %>
      </div>
      <div class="selected-gallery-box-text">
        <p>
          <%= @selected_gallery.comment %>
        </p>
      </div>
      <div>
        <% @selected_gallery.tag_list.each do |tag| %>
          <p class="selected-gallery-tag">
            <span class="label selected-gallery-tag-in">
              <%= tag %>
            </span>
          </p>
        <% end %>
      </div>
    </div>

    <% if !@match_tag.empty? %>
      <div class=" match-tag-box">
        <div class="match-tag-box-header">
          関連画像
        </div>
        <div class="row justify-content-center my-match-row">
          <% @match_tag.each do |match_tag| %>
            <% if match_tag.id != @selected_gallery.id %>
              <div class="col-4 match-tag-content">
                  <%= link_to("/gallery/selected/#{match_tag.id}", {method: "get"}) do %>
                  <%= image_tag "#{match_tag.data}", width: "100%", height: "100%" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<!--  right-->

<!--  left-->
  <div class="col-md-3 selected-gallery-side">
<!--    user-->
    <div class="user-info-box">
      <div class="user-img-box">
        <%= link_to("/page/creator/#{@selected_gallery_user.user_id}", {method: "get"}) do %>
          <div class="user-img">
            <%= image_tag "#{@selected_gallery_user.avatar_path}", class: "rounded-circle", size: "180x180", alt: "アバター" %>
          </div>
          <div class="user-name">
            <h3>
              <%= @selected_gallery_user.name %>
            </h3>
          </div>
        <% end %>
      </div>
      <div class="card my-card">
        <div class="card-header my-card-header">
          創作作品名
        </div>
        <div class="card-body my-card-body">
          <p class="card-text user-info-text"><%= @selected_gallery_user.title %></p>
        </div>
      </div>

      <div class="card my-card">
        <div class="card-header my-card-header">
          創業年数
        </div>
        <div class="card-body my-card-body">
          <p class="card-text user-info-text"><%= @selected_gallery_user.establishment %>年</p>
        </div>
      </div>

      <div class="card my-card">
        <div class="card-header my-card-header">
          従業員数
        </div>
        <div class="card-body my-card-body">
          <p class="card-text user-info-text"><%= @selected_gallery_user.employee %>人</p>
        </div>
      </div>
    </div>
<!--    first-->
    <% if !@other_gallery.empty? %>
      <div class="other-box">
        <div class="other-box-header">
          その他の投稿
        </div>
        <% @other_gallery.each do |other_gallery| %>
          <div class="other-content">
            <%= link_to("/gallery/selected/#{other_gallery.id}", {method: "get"}) do %>
              <%= image_tag "#{other_gallery.data}", width: "100%", height: "100%" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<!--  left-->
</div>
