<%= stylesheet_link_tag "gallery" %>

<h1 class="main-title">ギャラリー</h1>

<!--通知・エラー-->
<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<div class="row my-selected-row">
<!--  right-->
  <div class="col-lg-9 selected-gallery-box">
    <div class="selected-gallery-box-in-box">
      <%= image_tag "#{@selected_gallery.data}", class: "", width: "100%", height: "850px" %>
      <div class="post-time-text">
        <%= @selected_gallery.created_at %>
      </div>
      <div class="selected-gallery-box-text">
        <p>
          <%= @selected_gallery.comment %>
        </p>
      </div>
    </div>
    <div class="tag-list-box">
      <% @selected_gallery.tag_list.each do |tag| %>
        <p class="selected-gallery-tag">
            <span class="label selected-gallery-tag-in">
              <%= tag %>
            </span>
        </p>
      <% end %>
    </div>
    <div class="icon-btn-box text-right">
      <!-- いいねボタン -->
      <%= form_for :gallery_good, url: "/gallery/selected/good/#{@selected_gallery.id}" do |f| %>
        <% if !@my_good.empty? %>
          <% @my_good.each_with_index do |my_good, i| %>
            <% if @selected_gallery.id == my_good.id %>
              <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn", disabled: true do %>
                <%= icon("fas", "thumbs-up", class: "thumbs-up-icon") %>
                <% if @good_count[@selected_gallery.id] == nil %>
                  <%= 0 %>
                <% else %>
                  <%= @good_count[@selected_gallery.id] %>
                <% end %>
              <% end %>
              <% break %>
            <% elsif i == @my_good.length - 1  %>
              <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
                <%= icon("fas", "thumbs-up", class: "thumbs-up-icon") %>
                <% if @good_count[@selected_gallery.id] == nil %>
                  <%= 0 %>
                <% else %>
                  <%= @good_count[@selected_gallery.id] %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% elsif session[:id] == nil %>
          <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn", disabled: true do %>
            <%= icon("fas", "thumbs-up", class: "thumbs-up-icon") %>
            <% if @good_count[@selected_gallery.id] == nil %>
              <%= 0 %>
            <% else %>
              <%= @good_count[@selected_gallery.id] %>
            <% end %>
          <% end %>
        <% else %>
          <%= f.button type: "submit", remote: "true", method: "post", class: "btn icon-btn" do %>
            <%= icon("fas", "thumbs-up", class: "thumbs-up-icon icon-btn") %>
            <% if @good_count[@selected_gallery.id] == nil %>
              <%= 0 %>
            <% else %>
              <%= @good_count[@selected_gallery.id] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <!-- コメント -->
      <button class="btn icon-btn good-and-comment" data-toggle="collapse" data-target="#<%= @selected_gallery.id %>">
        <%= icon("fas", "comment-alt", class: "comment-icon") %>
        <% if @comment_count[@selected_gallery.id] == nil %>
          <%= 0 %>
        <% else %>
          <%= @comment_count[@selected_gallery.id] %>
        <% end %>
      </button>
      <!--              end-->
      <!--            展開コメント-->
      <div class="collapse" id="<%= @selected_gallery.id %>">
        <% @comment.each do |comment| %>
          <% if comment.gallery_id == @selected_gallery.id %>
            <div class="card comment-card text-left">
              <div class="card-header comment-header">
                <p>
                  <%= image_tag "#{comment.avatar_path}", class: "rounded-circle", size: "45x45" %>
                  <%= comment.name %>
                </p>
              </div>
              <div class="card-body comment-body">
                <p>
                  <%= comment.comment %>
                </p>
              </div>
              <div class="card-footer comment-time text-right">
                <%= comment.post_time %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if session[:id] != nil %>
          <div class="card input-comment-box text-left">
            <div class="card-header input-comment-header">
              <div class="input-comment-header-in">
                <%= image_tag "#{@user.avatar_path}", class: "rounded-circle", size: "43x43" %>
                <%= @user.name %>
              </div>
            </div>
            <div class="card-body input-comment-body">
              <%= form_for @gallery_comment, url: "/gallery/selected/comment/#{@selected_gallery.id}" do |f| %>
                <%= f.text_area :comment, class:"form-control", size: "200x3", placeholder: "100文字以内" %>
                </div>
                <div class="card-footer input-comment-footer">
                  <div class="text-right">
                    <%= f.submit "コメント", class: "btn comment-btn" %>
                  </div>
                </div>
              <% end %>
              </div>
        <% else %>
          <p class="no-login-text">
            ログインしてください
          </p>
        <% end %>
      </div>
      <!--            end-->
    </div>

    <% if !@match_tag.empty? %>
      <div class=" match-tag-box">
        <div class="match-tag-box-header">
          関連画像
        </div>
        <div class="row justify-content-center my-match-row">
          <% @match_tag.each do |match_tag| %>
            <% if match_tag.id != @selected_gallery.id %>
              <div class="col-lg-4 match-tag-content">
                  <%= link_to("/gallery/selected/#{match_tag.id}", {method: "get"}) do %>
                  <%= image_tag "#{match_tag.data}", width: "100%", height: "100%" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<!--  right-->

<!--  left-->
  <div class="col-lg-3 selected-gallery-side">
<!--    user-->
    <div class="user-info-box">
      <div class="user-img-box">
        <%= link_to("/page/creator/#{@selected_gallery_user.user_id}", {method: "get"}) do %>
          <div class="user-img">
            <%= image_tag "#{@user.avatar_path}", class: "rounded-circle", size: "180x180", alt: "アバター" %>
          </div>
          <div class="user-name">
            <h3>
              <%= @selected_gallery_user.name %>
            </h3>
          </div>
        <% end %>
      </div>
      <div class="card my-card">
        <div class="card-header my-card-header">
          創作作品名
        </div>
        <div class="card-body my-card-body">
          <p class="card-text user-info-text"><%= @selected_gallery_user.title %></p>
        </div>
      </div>

      <div class="card my-card">
        <div class="card-header my-card-header">
          創業年数
        </div>
        <div class="card-body my-card-body">
          <p class="card-text user-info-text"><%= @selected_gallery_user.establishment %>年</p>
        </div>
      </div>

      <div class="card my-card">
        <div class="card-header my-card-header">
          従業員数
        </div>
        <div class="card-body my-card-body">
          <p class="card-text user-info-text"><%= @selected_gallery_user.employee %>人</p>
        </div>
      </div>
    </div>
<!--    first-->
    <% if !@other_gallery.empty? %>
      <div class="other-box">
        <div class="other-box-header">
          その他の投稿
        </div>
        <% @other_gallery.each do |other_gallery| %>
          <div class="other-content">
            <%= link_to("/gallery/selected/#{other_gallery.id}", {method: "get"}) do %>
              <%= image_tag "#{other_gallery.data}", width: "100%", height: "100%" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<!--  left-->
</div>
