<%=stylesheet_link_tag "admin_edit" %>

<div class="row admin-row">
  <div class="col-2 admin-col-2">
    <ul class="nav flex-column admin-side-menu">
      <li class="nav-item admin-top-link">
        <%= link_to "ユーザー管理", "/admin/management/user", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "日記管理", "/admin/management/diary", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "日記コメント", "/admin/management/diary_comment", class: "nav-link active disabled" %>
      </li>
      <li class="nav-item">
        <%= link_to "ギャラリー管理", "/admin/management/gallery", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "問い合わせ管理", "/admin/management/inquiry", class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="col-10 admin-col-9">
    <h1 class="admin-main-title">日記コメント管理</h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">＃</th>
        <th scope="col">ID</th>
        <th scope="col">ユーザーID</th>
        <th scope="col">ダイアリーID</th>
        <th scope="col">コメント</th>
        <th scope="col">登録日時</th>
        <th scope="col">削除日時</th>
      </tr>
      </thead>
      <tbody>
        <% @diary_comment.each_with_index do |diary_comment, i| %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= diary_comment.id %></td>
            <td><%= diary_comment.user_id %></td>
            <td><%= diary_comment.diary_id %></td>
            <td><%= diary_comment.comment %></td>
            <td><%= diary_comment.created_at %></td>
            <td><%= diary_comment.deleted_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>