<%=stylesheet_link_tag "admin_edit" %>

<div class="row admin-row">
  <div class="col-2 admin-col-2">
    <ul class="nav flex-column admin-side-menu">
      <li class="nav-item admin-top-link">
        <%= link_to "ユーザー管理", "/admin/management/user", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "日記管理", "/admin/management/diary", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "日記コメント", "/admin/management/diary_comment", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ギャラリー管理", "/admin/management/gallery", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "問い合わせ管理", "/admin/management/inquiry", class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="col-10 admin-col-9">
    <h1 class="admin-main-title">ユーザー編集</h1>
    <div class="card">
      <div class="card-header">
        <h3>
          ID：<%= @inquiry_detail.id %>
        </h3>
        <h5>
          カテゴリー：<%= @category.name %>
        </h5>
        投稿時間：<%= @inquiry_detail.created_at %>
      </div>
      <div class="card-body">
        <%= @inquiry_detail.content %>
      </div>
      <div class="card-footer">
        <div class="form-check">
          <%= form_for :check, url: "/admin/inquiry/detail/check/#{@inquiry_detail.id}" do |f| %>
            <%= f.check_box :is_check, { checked: @inquiry_detail.is_check, class: "form-check-input", id: "check" }, true%>
            <%= f.label "対応チェック", class: "form-check-label", for: "check" %>
            <div class="text-right">
              <%= f.submit "更新", class: "btn btn-warning btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>