<%= stylesheet_link_tag "your_page" %>


<!--通知・エラー-->
<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</div>

<div>
  <% if @favorite.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @favorite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<!--通知・エラー-->

<div>
  <div class="background-img-box">
    <% if @creator_image != nil %>
      <%= image_tag "#{@creator_image.media_data}", height: "800px", width: "100%", alt: "背景画像" %>
    <% else %>
      <%= image_tag "main1.jpg", class: "", height: "800px", width: "100%", alt: "背景画像" %>
    <% end %>
    <div>
      <div class="name-age-box">
        <h1 class="h1-box">
          <%= @user.name %>
        </h1>
        <% if @user.is_man %>
          <p class="sex-box is_man">
            男性
        <% else %>
          <p class="sex-box is_woman">
            女性
        <% end %>
        </p>
        <p class="age-box">
          <%= date_format = "%Y%m%d"
              (Date.today.strftime(date_format).to_i - @user.birthday.strftime(date_format).to_i) / 10000
          %>歳
        </p>
      </div>
      <div class="label-box">
        <% if @creator.is_recruitment %>
          <span class="badge badge-primary">
            募集中
          </span>
        <% else %>
          <span class="badge badge-danger">
            募集停止中
          </span>
        <% end %>
      </div>
    </div>
    <div class="profile-avatar">
      <%= image_tag "#{@user.avatar_path}", class: "card-img-top img-circle", width: "100%", height: "100%", alt: "アバター画像" %>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="favorite_btn_box">
    <% if session[:id] != nil %>
      <% if @fv_check == nil %>
        <%= form_for @favorite, url: "/favorite/#{params[:id]}/add", class: "" do |f| %>
          <%= f.button type: "submit", remote: "true", method: "post", class: "btn btn-default btn-lg favorite_btn" do %>
            <%= fa_icon "star" %>
          <% end %>
        <% end %>
      <% else %>
        <%= form_for @favorite, url: "/favorite/#{params[:id]}/delete", class: "" do |f| %>
          <%= f.button type: "submit", remote: "true", method: "post", class: "btn btn-default btn-lg favorite_btn" do %>
            <%= fa_icon "star" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <!-- タブ -->
  <ul class="nav justify-content-center original-nav">
    <li class="nav-item">
      <%= link_to "日記", "/diary/show/#{@user.id}", class: "nav-link" %>
    </li>
    <li class="nav-item my-nav-item">
      <%= link_to "ギャラリー", "/gallery/view/#{@user.id}", class: "nav-link" %>
    </li>
  </ul>
<!--  タブ-->

  <div class="content-box top-box">
    <div class="row">
      <div class="col-md-6">
        <div class="card my-card">
          <h3 class="my-card-header">
            制作工芸名
          </h3>
          <div class="card-body my-card-body">
            <p class="card-text"><%= @creator.title %></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card my-card">
          <h3 class="my-card-header">
            工芸品ジャンル
          </h3>
          <div class="card-body my-card-body">
            <p class="card-text"><%= @art_category.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <div class="row">
      <div class="col-md-6">
        <div class="card my-card">
          <h3 class="my-card-header">
            創業年数
          </h3>
          <div class="card-body my-card-body">
            <p class="card-text"><%= @creator.establishment %>年</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <div class="card my-card">
            <h3 class="my-card-header">
              従業員数
            </h3>
            <div class="card-body my-card-body">
              <p class="card-text"><%= @creator.employee %>人</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card my-card-pro">
    <h3 class="my-card-header-pro">
      紹介文
    </h3>
    <div class="card-body card-body-intro">
      <p class="card-text">
        <%= simple_format(h(@creator.introduction)) %>
      </p>
    </div>
  </div>

  <% if session[:id] != nil && session[:creator] == nil %>
    <% if @match == nil %>
      <div class="appeal-box">
        <%= form_for :match, url: "/match/#{@user.id}/send" do |f| %>
          <%= f.submit "アピール", class: "btn btn-lg appeal-btn" %>
        <% end %>
      </div>
    <% else %>
      <div class="appeal-box">
        <%= form_for :match do |f| %>
          <%= f.submit "アピール済", class: "btn btn-lg appeal-btn", disabled: true %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

