<%= stylesheet_link_tag "inquiry" %>

<h1 class="main-title">お問い合わせ</h1>

<div class="wrapper">

  <!--エラー-->
  <div>
    <% flash.each do |key, value| %>
      <div class="my-alert alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div>
    <% if @inquiry.errors.any? %>
      <div id="error_explanation" class="error-box">
        <p class="error-title">入力内容にエラーが<%= @inquiry.errors.count %>件あります</p>
        <ul class="error-index">
          <% @inquiry.errors.full_messages.each do |message| %>
            <li class="error-content">
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!--エラー-->

  <%= form_for @inquiry, url: "/inquiry/input" do |f| %>
    <div class="form-group">
      <%= f.label "カテゴリー", class: "inquiry-input-label" %>
      <%= f.collection_select :inquiry_category, InquiryCategory.all, :id, :name, {prompt: "選択してください"}, {class: "form-control"} %>
    </div>
    <div class="form-group my-form-inquiry">
      <%= f.label "お問い合わせ内容", class: "inquiry-input-label" %>
      <%= f.text_area :content, class: "form-control", size: "5x20", placeholder: "お問い合わせ内容" %>
    </div>
    <div class="text-right">
      <%= f.submit "送信", class: "btn btn-lg inquiry-form-btn" %>
    </div>
  <% end %>

</div>