<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SucSeed</title>
    <%= favicon_link_tag "logo.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 1500">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content my-modal">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ログインフォーム</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </div>
        <div class="modal-body">
          <%= form_for :session, url: "/user/login", class: "form-group" do |f| %>
            <div class="">
              <%= f.label "メールアドレス", class: "" %>
              <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス", required: true %>
            </div>
            <small class="modal-small">半角英数</small>

            <div class="modal-password-box">
              <%= f.label "パスワード", class: "input-group-addon" %>
              <%= f.password_field :password, class: "form-control", maxlength: 16, placeholder: "パスワード", required: true %>
            </div>
            <small class="modal-small">半角英数、８文字以上１６文字以内</small>

            <div class="modal-login-btn-box">
              <%= f.submit "ログイン", class: "btn modal-login-btn"%>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
<!--          <div>-->
            <%#= button_to "パスワードを忘れた方", {controller: 'user', action: 'password_reset'}, {method: :get, class: "btn btn-danger"} %>
<!--          </div>-->
          <div>
            <%= button_to "ユーザ登録はこちらから", {controller: 'user', action: 'create'}, {method: :get, class: "btn create-user-btn"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <header>
      <nav class="navbar navbar-expand-lg  my_nav index-nav">
        <%= image_tag "logo.png", class: "logo", size: "50x50" %>
        <%= link_to "/index", class: "navbar-brand my-brand" do %>
          <%= image_tag "title.png", width: "150vw", height: "18%" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <%= icon("fas", "list", class: "mini-list") %>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <% if session[:creator] != nil %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  メニュー
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "マイページ", "/my_page/my_page",class: "dropdown-item" %>
                  <%= link_to "お気に入り日記", "/diary/view", class: "dropdown-item" %>
                  <%= link_to "マイ日記", "/diary/my_diary", class: "dropdown-item" %>
                  <%= link_to "お気に入りギャラリー", "/gallery/favorite", class: "dropdown-item" %>
                  <%= link_to "マイギャラリー", "/gallery/my_gallery", class: "dropdown-item" %>
                  <%= link_to "メッセージ", "/message/list", class: "dropdown-item" %>
                  <%= link_to "アピールリスト", "/match/appealed/list", class: "dropdown-item" %>
                  <%= link_to "マッチング一覧", "/match/matching/list", class: "dropdown-item" %>
                  <%= link_to "スカウト確認", "/match/scout/list_check", class: "dropdown-item" %>
                </div>
              <% elsif session[:id] != nil && session[:creator] == nil %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  メニュー
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "マイページ", "/my_page/my_page",class: "dropdown-item" %>
                  <%= link_to "お気に入り日記", "/diary/heir/favorite", class: "dropdown-item" %>
                  <%= link_to "お気に入りギャラリー", "/gallery/heir/favorite", class: "dropdown-item" %>
                  <%= link_to "メッセージ", "/message/list", class: "dropdown-item" %>
                  <%= link_to "マッチング一覧", "/match/matching/list", class: "dropdown-item" %>
                  <%= link_to "アピール確認", "/match/appeal/list_check", class: "dropdown-item" %>
                  <%= link_to "スカウト一覧", "/match/scouted/list", class: "dropdown-item" %>
                </div>
              <% end %>
            </li>
            <div class="form-inline">
<!--             search-->
              <%= form_for :search, url: "/search/user" do |f| %>
                <%= f.collection_select :art_category_id, ArtCategory.all, :id, :name, { prompt: " select category ..."}, {class: "form-control"} %>
                <%= f.button type: "submit", class: "btn search_btn" do %>
                  <%= icon("fas", "search", class: "search_icon") %>
                <% end %>
              <% end %>
<!--              search-->
            </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="login-ul">
               <% if session[:id] == nil %>
                <!-- Button trigger modal -->
                  <button type="button" class="btn my-login-btn" data-toggle="modal" data-target="#exampleModalCenter">
                    ログイン
                  </button>
                <% else %>
                  <%= button_to "ログアウト", {controller: 'user', action: 'logout'}, {method: :post, class: "btn my-login-btn"} %>
                <% end %>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    <div class="container-fluid">
      <%= yield %>
    </div>

    <% if session[:id] != nil %>
      <div class="none-margin-box"></div>
    <% end %>
    <!-- Footer -->
    <footer class="container-fluid original-footer">
      <%= link_to "お問い合わせ", "/inquiry/input", class: "navbar-brand inquiry-link" %>
      <p class="copy-right">&copy;SucSeed</p>
    </footer>
  </body>
</html>
